{% extends "base.html" %}
{% block content %}
<!-- Completed tasks list -->
<div class="flex flex-col items-center justify-center">
    <!-- List all tasks -->
    <div class="w-full max-w-lg mx-auto">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
            <div class="mb-4">
                <!-- back button -->
                <div class="flex flex-row">
                    <a href="/tasks/" class="text-blue-800 font-bold py-2 px-4 rounded">
                        ⬅️ Back
                    </a>
                </div>
                <h2 class="text-2xl font-bold text-center">Completed tasks</h2>
                <p class="text-center">
                    Here you can see all completed tasks.
                </p>
            </div>
            <!-- List completed tasks -->
            <div class="mb-4">
                <div class="">
                    {% if tasks %}
                    {% for task in tasks %}
                    <div class="m-1">
                        <div class="flex flex-row ">
                            <p class="text-center font-bold text-xl">
                                {{ task.title }}&nbsp;<sup class="font-thin">{{task.id}}</sup>
                                <span class="text-xs text-gray-500 font-extralight block">
                                    {{ task.created_date }}
                                </span>
                            </p>
                            <a href="/delete-completed-task/{{task.id}}/"
                                class="ml-auto order-2 bg-red-500 hover:bg-red-700 text-white font-bold text-xs py-1 px-2 rounded  max-h-7">
                                <!-- Delete mark -->
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/></svg>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center text-xl font-bold">
                        You have no completed tasks.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}