{% extends "base.html" %}
{% block content %}
<!-- Uncompleted tasks list -->
<div class="flex flex-col items-center justify-center">
    <!-- List all tasks -->
    <div class="w-full max-w-[50rem] mx-auto">
        <!-- Add task from -->
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col sm:flex-row sm:justify-around sm:space-x-5 space-y-5 sm:space-y-0">
            <div class="add-task">
                <div class="mb-4">
                    <h2 class="text-xl font-bold text-center">Add task</h2>
                    <p class="text-center">
                        Add a new task.
                    </p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <form action="/add-task/" method="get">
                        <div class="flex flex-row items-center justify-center">
                            <div class="flex flex-row items-center justify-center">
                                <input type="text" name="task"  required placeholder="Task" class="bg-gray-200 border border-gray-200 rounded px-4 py-1 focus:ring-blue-500">
                            </div>
                            <div class="flex flex-col items-center justify-center">
                                <input type="submit" value="Add" class="bg-blue-500 text-xs hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Search form -->
            <div class="search-task">
                <div class="mb-4">
                    <h2 class="text-xl font-bold text-center">Search task</h2>
                    <p class="text-center">
                        Search for a task title.
                    </p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <form action="" method="get">
                        <div class="flex flex-row items-center justify-center">
                            <div class="flex flex-col items-center justify-center">
                                <input type="text" name="search" required placeholder="Search Task" class="bg-gray-200 border border-gray-200 rounded px-4 py-1 focus:ring-blue-500">
                            </div>
                            <div class="flex flex-col items-center justify-center">
                                <input type="submit" value="🔍" class="bg-blue-500 text-xs hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <h2 class="text-2xl font-bold text-center">Tasks</h2>
                <p class="text-center">
                    Here you can see all pending tasks.
                </p>
            </div>
            <!-- <div class="flex flex-col items-center justify-center">
                <a href=""
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Create a new task
                </a>
            </div> -->
            <!-- List uncompleted tasks -->
            <div class="mb-4">
                <div class="sm:space-y-2">
                    {% if tasks %}
                    {% for task in tasks %}
                    <div class="flex flex-row ">
                        <div class="">
                            <p class="text-xl font-bold ">
                                {{ task.title }}&nbsp;<sup class="font-thin">{{task.id}}</sup>
                                 <!-- Display date -->
                            <span class="text-xs text-gray-500 font-extralight block">
                                {{ task.created_date }}
                            </span>
                            </p>
                        </div>
                        <div class="flex flex-row ml-auto order-last">
                            &nbsp;&nbsp;
                            <a href="/complete_task/{{task.id}}"
                                class="bg-green-500 text-xs hover:bg-green-700 text-white py-1 px-2 rounded max-h-7">
                                <!-- tick mark -->
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
                            </a>
                            &nbsp;&nbsp;
                            <a href="/delete-task/{{task.id}}" class="bg-red-500 text-xs hover:bg-red-700 text-white py-1 px-2 rounded max-h-7">
                                <!-- Delete mark -->
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/></svg>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center text-xl font-bold">
                        You have no tasks.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}